<?xml version="1.0"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="DPLAT blaze Verification" parallel="classes"
	thread-count="2">
	<listeners>
		<listener class-name="com.tau.listeners.TestListner" />
	</listeners>
	<test name="Chrome tests">
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="com.tau.tests.TestClass1" />
			<class name="com.tau.tests.TestClass2" />
		</classes>

	</test>
	<test name="Firefox tests">
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="com.tau.tests.TestClass1" />
			<class name="com.tau.tests.TestClass2" />
		</classes>

	</test>

</suite>